<HTML lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>WhereToPlay</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><a href="/">WhereToPlay</a></h1>
        <p class="lead">Find out whether you already own a game, and if not, where you can buy it.</p>
    </div>

    <form method="get" action="/search">
        <div class="form-group">
            <label for="gameName">Game Name</label>
            <input type="text" class="form-control" name="gameName" id="gameName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/><br/>
    <!-- Search Results -->
    <div th:if="${gameData != null && gameData.size() > 0}">
        <h3>Where to play...</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Game</th>
                <th scope="col">Steam</th>
                <th scope="col">Epic</th>
                <th scope="col">Xbox</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="game: ${gameData}">
                <td th:text="${game.getName()}">Mark</td>
                <td><span th:if="${game.getSteamId() != null}"><a target="_blank" th:href="'https://store.steampowered.com/app/' + ${game.getSteamId()}">Steam</a></span></td>
                <td>.</td>
                <td>.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- No Results Found -->
    <div th:if="${gameData != null && gameData.size() == 0}">
        <h3>Game not found.</h3>
    </div>
</div>
</body>
</HTML>